$imgFolder: '../img/'; // путь к изображениям
$fontsFolder: '../fonts/'; // путь к шрифтам


$grey-bg: #FAFAFA;
$pink: #FC6175;
$aqua:#39D5CE;
$blue: #363FDF;
$orange: #FD9E6D;
$purple: #744AFF;
$lightgreen: #A5DC4B;
$tab-grey: #f2f2f2;