block vars
header.header
  .container
    .header__inner
      a.header__logo(href="index.html")
        img.header__logo-image(src="img/svg/header-logo.svg" alt="logotype")
      .header__menu
        nav
          ul.header__menu-list
            li.header__menu-item
              a.header__menu-link(href="index.html") Ğ¡ases
            li.header__menu-item
              a.header__menu-link.header__menu-button(href="#") Services
              ul.header__dropdown
                li.header__dropdown-item
                  a(href="#")
                li.header__dropdown-item
                  a(href="#")
                li.header__dropdown-item
                  a(href="#")
                li.header__dropdown-item
                  a(href="#")
                li.header__dropdown-item
                  a(href="#")
                li.header__dropdown-item
                  a(href="#")
            li.header__menu-item
              a.header__menu-link(href="#") Industries
              ul.header__dropdown
                li.header__dropdown-item
                  a(href="#")
                li.header__dropdown-item
                  a(href="#")
                li.header__dropdown-item
                  a(href="#")
                li.header__dropdown-item
                  a(href="#")
                li.header__dropdown-item
                  a(href="#")
                li.header__dropdown-item
                  a(href="#")
            li.header__menu-item
              a.header__menu-link(href="#") About Us
              ul.header__dropdown
                li.header__dropdown-item
                  a(href="#")
                li.header__dropdown-item
                  a(href="#")
                li.header__dropdown-item
                  a(href="#")
                li.header__dropdown-item
                  a(href="#")
                li.header__dropdown-item
                  a(href="#")
                li.header__dropdown-item
                  a(href="#")
            li.header__menu-item
              a.header__menu-link(href="#") Blog
            li.header__menu-item
              a.header__menu-link(href="#") Contact us
        a.header__work.bg-link(href="#") work with us
      .header__btn.burger-btn
        span
        span
        span  

