.tab-link__wrapper.tab-link__wrapper--static 
  .tab-link.js-trigger.active(data-tab="1") FinTech 
  .tab-link.js-trigger(data-tab="2") InsurTech 
  .tab-link.js-trigger(data-tab="3") SaaS (+ translation to <br> SaaS for ISVs) 
  .tab-link.js-trigger(data-tab="4") HealthTech 
  .tab-link.js-trigger(data-tab="5") Tech Startups 