.tab-link__wrapper.tab-link__wrapper--slider 
  div
    .tab-link.js-trigger.active(data-tab="1") FinTech 
  div
    .tab-link.js-trigger(data-tab="2") InsurTech 
  div
    .tab-link.js-trigger(data-tab="3") SaaS (+ translation to <br> SaaS for ISVs) 
  div
    .tab-link.js-trigger(data-tab="4") HealthTech 
  div
    .tab-link.js-trigger(data-tab="5") Tech Startups 