block vars
  -var x= 180

block intro
  include section-intro-main-1920
  include section-intro-main-375
block trusted
  include section-trusted-static
  include section-trusted-slider

    
section.services
  .container
    h3.section-title services
    p.section-description.services__description Smart IT eliminates the headache of finding professional talent. We will build dedicated software development teams or let you hand-pick the topsoftware engineers to complement your in-house team. Match our expertise with your business needs.
  .services__items
    .services__item.services__item--blue
      +points('white')
      .services__item-info
        .services__item-hover
          p.services__item-text Are you at square one of launching your product? Starting is often the hardest part, but we can help you on your journey. Working closely with your senior executives, business operations or project management teams, we thoroughly analyze your functional requirements to adapt the most efficient approach and the appropriate technology stack.
          a.services__item-link(href="https://vk.com/koles1ko") discover
      .services__item-inner
        .services__item-picture
          img.services__item-image(src="img/svg/services/custom.svg" alt="Custom Application Development")
        div
          .services__item-name Custom Application Development
          a.services__item-link.services__item-link--768(href="https://vk.com/koles1ko") discover
    
    .services__item.services__item--orange
      +points('white')
      .services__item-info
        .services__item-hover
          p.services__item-text Are you at square one of launching your product? Starting is often the hardest part, but we can help you on your journey. Working closely with your senior executives, business operations or project management teams, we thoroughly analyze your functional requirements to adapt the most efficient approach and the appropriate technology stack.
          a.services__item-link(href="https://vk.com/koles1ko") discover
      .services__item-inner
        .services__item-picture
          img.services__item-image(src="img/svg/services/product.svg" alt="Product engineering")
        div
          .services__item-name Product engineering
          a.services__item-link.services__item-link--768(href="https://vk.com/koles1ko") discover

    .services__item.services__item--purple
      +points('aqua')
      .services__item-info
        .services__item-hover
          p.services__item-text Are you at square one of launching your product? Starting is often thehardest part, but we can help you on your journey. Working closely with your senior executives,business operations or project management teams, we thoroughly analyze your functional requirements to adapt the most efficient approach and the appropriate technology stack.
          a.services__item-link(href="https://vk.com/koles1ko") discover
      .services__item-inner
        .services__item-picture
          img.services__item-image(src="img/svg/services/mvp.svg" alt="МVP development")
        div  
          .services__item-name МVP development
          a.services__item-link.services__item-link--768(href="https://vk.com/koles1ko") discover

    .services__item.services__item--aqua
      +points('purple')
      .services__item-info
        .services__item-hover
          p.services__item-text Are you at square one of launching your product? Starting is often thehardest part, but we can help you on your journey. Working closely with your senior executives,business operations or project management teams, we thoroughly analyze your functional requirements to adapt the most efficient approach and the appropriate technology stack.
          a.services__item-link(href="https://vk.com/koles1ko") discover
      .services__item-inner
        .services__item-picture
          img.services__item-image(src="img/svg/services/project.svg" alt="Project Turnaround")
        div  
          .services__item-name Project Turnaround
          a.services__item-link.services__item-link--768(href="https://vk.com/koles1ko") discover

    .services__item.services__item--pink
      +points('white')
      .services__item-info
        .services__item-hover
          p.services__item-text Are you at square one of launching your product? Starting is often the hardest part, but we can help you on your journey. Working closely with your senior executives,business operations or project management teams, we thoroughly analyze your functional requirements to adapt the most efficient approach and the appropriate technology stack.
          a.services__item-link(href="https://vk.com/koles1ko") discover
      .services__item-inner
        .services__item-picture
          img.services__item-image(src="img/svg/services/app.svg" alt="Application integration")
        div  
          .services__item-name Application integration
          a.services__item-link.services__item-link--768(href="https://vk.com/koles1ko") discover

    .services__item.services__item-static.services__item--lightgreen
      +points('white')
      div
        .services__item-name More about our services
        a.services__item-link(href="https://vk.com/koles1ko") discover

block wwu
  include section-wwu

section.industries
  h3.section-title Industries
  p.section-description.industries__description Smartphones, tablets, wearables - follow your users where they are with carefully crafted mobile apps. Reach customers via Android, iOS      
  .industries__tabs 
    block tabHead
      include section-industries-head-static
      include section-industries-head-slider
    .tab-content__wrapper 
      .tab-content.js-content.active-tab(data-tab="1") 
        .tab-content__inner 
          .tab-content__title.fintech-title FinTech
          .tab-content__description In the FinTech domain, challenges of compliance, distribution, and scalability can make or break a business. The emerging technologies that serve to make financial services more accessible require insight and foresight to develop in the right direction. We have not just developed financial technology solutions, but we have also provided ongoing support and maintenance for our clients. Whatever the solution, Smart IT has your back.
          a.tab-content__link.bg-link(href="#") discover
      .tab-content.js-content(data-tab="2") 
        .tab-content__inner 
          .tab-content__title.insurtech-title InsuranceTech 
          .tab-content__description Insurance is experiencing a wave of digital transformation. As more and more companies adopt technology to manage internal processes and operations, the priority will be to find the right partner for insurance software development. Luckily, Smart IT has helped companies big and small to take the leap forward into a digital future. Our team won't just help you select the right technology stack, they will provide best practices for international and national insurance operators, as well as expertise in the field.
          a.tab-content__link.bg-link(href="#") discover
      .tab-content.js-content(data-tab="3") 
        .tab-content__inner 
          .tab-content__title.sass-title Transitioning to SaaS
          .tab-content__description Changing your business model can be tough. Avoid second guessing if you have made the right choices or not. Seek and get guidance and consultation from professionals, who have aligned their actions with goals to deliver business growth. Whether it is meeting a defined set of goals or pivoting your entire business model, we can help set the course for positive change.
          a.tab-content__link.bg-link(href="#") discover
      .tab-content.js-content(data-tab="4") 
        .tab-content__inner 
          .tab-content__title.healthtech-title HealthTech
          .tab-content__description Digital health or healthcare technologies take on many functions. From automatic appointments, electronic health records, mobile applications for health monitoring, to programmable wearables and smart fitness devices, Smart IT has vast know-how in making digital technologies work for the healthcare and wellbeing industry.
          a.tab-content__link.bg-link(href="#") discover
      .tab-content.js-content(data-tab="5") 
        .tab-content__inner 
          .tab-content__title.startups-title Tech Startups
          .tab-content__description Unlike enterprises, startups do not always have the resources needed to maintain an in-house team or bring their vision to life immediately. Using a trusted IT partner, startups can acquire talent to match their budget, to keep development going while they recruit their own team, or to get an affordable outside perspective on their progress. We can help you find anyone from developer to senior executive to help your cause.
          a.tab-content__link.bg-link(href="#") discover
    
section.reviews
  h3.section-title Testimonials and reviews
  .section-description.reviews__description Smartphones, tablets, wearables - follow your users where they are with carefully crafted mobile apps. Reach customers via Android, iOS,
  .reviews__slider
    .slider-reviews

      .slider-reviews__inner
        .slider-reviews__item
          .slider-reviews__logo 
            img(src="img/raster/slider-partner.webp", alt="partner")
          .slider-reviews__info
            .slider-reviews__position Ryan Morris, Founder and President,
              span HubSpot
            .slider-reviews__value  
              +stars
              img.slider-reviews__image(src="img/raster/from.webp" alt="from clutch")
              a.slider-reviews__link(href="#") discover on clutch
            p.slider-reviews__text  Smartphones, tablets, wearables - follow your users where they are with carefully crafted mobile apps. Reach customers via Android, iOS, or cross-platform solutions. Great code deserves an equally stunning visual representation, and this is what we deliver.

      .slider-reviews__inner
        .slider-reviews__item
          .slider-reviews__logo 
            img(src="img/raster/slider-partner.webp", alt="partner")
          .slider-reviews__info
            .slider-reviews__position Ryan Morris, Founder and President,
              span HubSpot
            .slider-reviews__value  
              +stars
              img.slider-reviews__image(src="img/raster/from.webp" alt="from clutch")
              a.slider-reviews__link(href="#") discover on clutch
            p.slider-reviews__text  Smartphones, tablets, wearables - follow your users where they are with carefully crafted mobile apps. Reach customers via Android, iOS, or cross-platform solutions. Great code deserves an equally stunning visual representation, and this is what we deliver.

      .slider-reviews__inner
        .slider-reviews__item
          .slider-reviews__logo 
            img(src="img/raster/slider-partner.webp", alt="partner")
          .slider-reviews__info
            .slider-reviews__position Ryan Morris, Founder and President,
              span HubSpot
            .slider-reviews__value  
              +stars
              img.slider-reviews__image(src="img/raster/from.webp" alt="from clutch")
              a.slider-reviews__link(href="#") discover on clutch
            p.slider-reviews__text  Smartphones, tablets, wearables - follow your users where they are with carefully crafted mobile apps. Reach customers via Android, iOS, or cross-platform solutions. Great code deserves an equally stunning visual representation, and this is what we deliver.

      .slider-reviews__inner
        .slider-reviews__item
          .slider-reviews__logo 
            img(src="img/raster/slider-partner.webp", alt="partner")
          .slider-reviews__info
            .slider-reviews__position Ryan Morris, Founder and President,
              span HubSpot
            .slider-reviews__value  
              +stars
              img.slider-reviews__image(src="img/raster/from.webp" alt="from clutch")
              a.slider-reviews__link(href="#") discover on clutch
            p.slider-reviews__text  Smartphones, tablets, wearables - follow your users where they are with carefully crafted mobile apps. Reach customers via Android, iOS, or cross-platform solutions. Great code deserves an equally stunning visual representation, and this is what we deliver.                     

      .slider-reviews__inner
        .slider-reviews__item
          .slider-reviews__logo 
            img(src="img/raster/slider-partner.webp", alt="partner")
          .slider-reviews__info
            .slider-reviews__position Ryan Morris, Founder and President,
              span HubSpot
            .slider-reviews__value  
              +stars
              img.slider-reviews__image(src="img/raster/from.webp" alt="from clutch")
              a.slider-reviews__link(href="#") discover on clutch
            p.slider-reviews__text  Smartphones, tablets, wearables - follow your users where they are with carefully crafted mobile apps. Reach customers via Android, iOS, or cross-platform solutions. Great code deserves an equally stunning visual representation, and this is what we deliver.   

      .slider-reviews__inner
        .slider-reviews__item
          .slider-reviews__logo 
            img(src="img/raster/slider-partner.webp", alt="partner")
          .slider-reviews__info
            .slider-reviews__position Ryan Morris, Founder and President,
              span HubSpot
            .slider-reviews__value  
              +stars
              img.slider-reviews__image(src="img/raster/from.webp" alt="from clutch")
              a.slider-reviews__link(href="#") discover on clutch
            p.slider-reviews__text  Smartphones, tablets, wearables - follow your users where they are with carefully crafted mobile apps. Reach customers via Android, iOS, or cross-platform solutions. Great code deserves an equally stunning visual representation, and this is what we deliver.   

      .slider-reviews__inner
        .slider-reviews__item
          .slider-reviews__logo 
            img(src="img/raster/slider-partner.webp", alt="partner")
          .slider-reviews__info
            .slider-reviews__position Ryan Morris, Founder and President,
              span HubSpot
            .slider-reviews__value  
              +stars
              img.slider-reviews__image(src="img/raster/from.webp" alt="from clutch")
              a.slider-reviews__link(href="#") discover on clutch
            p.slider-reviews__text  Smartphones, tablets, wearables - follow your users where they are with carefully crafted mobile apps. Reach customers via Android, iOS, or cross-platform solutions. Great code deserves an equally stunning visual representation, and this is what we deliver.   

      .slider-reviews__inner
        .slider-reviews__item
          .slider-reviews__logo 
            img(src="img/raster/slider-partner.webp", alt="partner")
          .slider-reviews__info
            .slider-reviews__position Ryan Morris, Founder and President,
              span HubSpot
            .slider-reviews__value  
              +stars
              img.slider-reviews__image(src="img/raster/from.webp" alt="from clutch")
              a.slider-reviews__link(href="#") discover on clutch
            p.slider-reviews__text  Smartphones, tablets, wearables - follow your users where they are with carefully crafted mobile apps. Reach customers via Android, iOS, or cross-platform solutions. Great code deserves an equally stunning visual representation, and this is what we deliver.   

section.story
  +points("aqua")
  h3.section-title Featured success story
  .story__inner
    .story__description
      +points("aqua")
      svg.story__image
        use(xlink:href="img/sprite.svg#custom")
      h5.story__title Custom CRM Development fo Zaman Broker
      p.story__text Insurance and Reinsurance Operator Zaman Broker turned to Smart IT to scale and automate business processes by implementing a robust Customer Relationship Management (CRM) system. The dedicated development team seamlessly migrated the functionality of the previous system without disruption to daily operation. The new system was enhanced with sales pipeline management, call center functionality, and custom report building to accommodate the running of the business.
      a.dft-link.story__description-link(href="#") discover
    .story__slider
      .story__slider-inner
        .story__slider-image.story__slider-image--mac
          img(src="img/raster/story/macbook.webp", alt="notebook")
      .story__slider-inner
        .story__slider-image
          img(src="img/raster/story/smartphone.webp", alt="smartphone")
      .story__slider-inner
        .story__slider-image
          img(src="img/raster/story/chart.webp", alt="chart")        
    .story__numbers
      .story__items
        .story__item
          .story__item-number.story--aqua 100%
          .story__item-text compliance with the predefined testing roadmap
        .story__item
          .story__item-number.story--pink 35%
          .story__item-text growth after implementation
        .story__item
          .story__item-number.story--purple 6
          .story__item-text full-time software developers
        .story__item
          .story__item-number.story--orange 9
          .story__item-text technologies employed
  .story__link-wrapper
    a.story__link.bg-link(href="#") view all cases        

block faq
  include section-faq

section.about
  +points('blue')
  +points('pink')
  h3.section-title About us
  p.section-description.about__text We are a small team of programming professionals, marketing maestros and business brains making the most out of modern and innovative technologies to power the ideas of our clients. <br>Oh, and we run a few projects of our own. 
  .about__text We've been invited to some pretty cool places to contribute our thoughts and expertise
  .about__items
    a.about__item(href="#")
      .about__item-inner
        .about__item-picture
          img.about__item-img(src="img/raster/about/1.webp", alt="Interview with CTO")
        .about__item-text Interview with CTO
    a.about__item(href="#")
      .about__item-inner
        .about__item-picture
          img.about__item-img(src="img/raster/about/2.webp", alt="Industry insights from CTO and CBDO")
        .about__item-text Industry insights from CTO and CBDO
    a.about__item(href="#")
      .about__item-inner
        .about__item-picture
          img.about__item-img(src="img/raster/about/3.webp", alt="Interview with CEO")
        .about__item-text Interview with CEO
  .about__text Learn why clients choose Smart IT for their custom software development projects and what values come ‘hardcoded’ in our professional approach.
  a.about__link.bg-link.bg-link--blue(href="#") What we do and what we don't      

section.news  
  h3.section-title Articles and news
  .news__items
    .news__item-wrapper.news__item-1.news__item-blog(style="background-image: url(img/raster/news/news-1.webp)") 
      .news__item.news__item--purple
        .news__item-inner
          .news__date-wrapper 
            .news__date Deс 15, 2019
            .news__time 5 min read
          .news__title Xfive.co 2019 – Designed and Built for Business
          p.news__description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type Ipsum has been the industry's standard 
          .news__tags
            .news__tag #QA
            .news__tag #Web development
            .news__tag #OpenSource
          .news__hover.news__hover--left.news__hover--purple
            a.news__hover-link.bg-link(href="#") discover
      +points('white')
    .news__item-wrapper.news__item-2.news__item-blog(style="background-image: url(img/raster/news/news-2.webp)") 
      .news__item.news__item--lightgreen
        .news__item-inner
          .news__date-wrapper 
            .news__date Deс 15, 2019
            .news__time 5 min read
          .news__title Xfive.co 2019 – Designed and Built for Business
          p.news__description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type Ipsum has been the industry's standard 
          .news__tags
            .news__tag #QA
            .news__tag #Web development
            .news__tag #OpenSource
          .news__hover.news__hover--right.news__hover--lightgreen
            a.news__hover-link.bg-link(href="#") discover
      +points('blue')  
    .news__item-wrapper.news__item-3.news__item-news(style="background-image: url(img/raster/news/news-3.webp)") 
      .news__item.news__item--pink
        .news__item-inner
          .news__date-wrapper 
            .news__date Deс 15, 2019
            .news__time 5 min read
          .news__title Xfive.co 2019 – Designed and Built for Business
          p.news__description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type Ipsum has been the industry's standard 
          .news__tags
            .news__tag #QA
            .news__tag #Web development
            .news__tag #OpenSource
          .news__hover.news__hover--left.news__hover--pink
            a.news__hover-link.bg-link(href="#") discover
      +points('blue')
    .news__item-wrapper.news__item-4(style="background-image: url(img/raster/news/news-all.webp)")     
      a.news__item.news__item--blue.news__item--static(href="#")
        +points('pink')
        .news__title.news__title--static All articles and news









