block vars
   -var x= 180

section.service-intro
   h1.service-intro__title.intro__title Application integration
   .service-intro__subtitle.service-subtitle Application integration adds greater value to existing products and services. Roll out new features, connect systems and extend the capacities of applications.
   .service-intro__picture
      img(src="img/raster/service/service-intro.jpg", alt="service intro girl")
      .layout--pink.layout-block
section.web-mob

