section.intro.intro--375
  .intro__inner
    .intro__title Custom Software Development
    .intro__subtitle For startups. For SaaS companies. For fast-growing businesses.

    .intro-slider
      .intro-slider__inner
        .intro-slider__item.intro-slider__item--left
          .intro__item.intro__location-columbia
            a.intro__item.intro__completed(href="#", data-id="completed-columbia")    
          .intro__item.intro__location-alaska
            a.intro__item.intro__completed(href="#", data-id="completed-alaska") 
          .intro__item.intro__location-canada
            a.intro__item.intro__active(href="#", data-id="completed-canada")   
          .intro__item.intro__location-southalaska
            a.intro__item.intro__active(href="#", data-id="completed-southalaska") 
          .intro__item.intro__location-usa
            a.intro__item.intro__active(href="#", data-id="completed-usa")  
          .intro__item.intro__location-brasil
            a.intro__item.intro__active(href="#", data-id="completed-brasil")
          .intro__item.intro__location-argentina
            a.intro__item.intro__active(href="#", data-id="completed-argentina") 
         
      .intro-slider__inner        
        .intro-slider__item.intro-slider__item--center
          .intro__item.intro__location-litva
            a.intro__item.intro__completed(href="#", data-id="completed-litva")
          .intro__item.intro__location-poland
            a.intro__item.intro__completed(href="#", data-id="completed-poland")
          .intro__item.intro__location-africa
            a.intro__item.intro__completed(href="#", data-id="completed-africa")
          .intro__item.intro__location-southafrica
            a.intro__item.intro__active(href="#", data-id="completed-southafrica")   
          .intro__item.intro__location-niger
            a.intro__item.intro__active(href="#", data-id="completed-niger")
          .intro__item.intro__location-uk
            a.intro__item.intro__active(href="#", data-id="completed-uk") 
          .intro__item.intro__location-egipt
            a.intro__item.intro__active(href="#", data-id="completed-egipt")  
          .intro__item.intro__location-kz
            a.intro__item.intro__active(href="#", data-id="completed-kz")  
          
      .intro-slider__inner
        .intro-slider__item.intro-slider__item--right
          .intro__item.intro__location-australia
            a.intro__item.intro__completed(href="#", data-id="completed-australia")
          .intro__item.intro__location-china
            a.intro__item.intro__completed(href="#", data-id="completed-china")
          .intro__item.intro__location-siberia
            a.intro__item.intro__completed(href="#", data-id="completed-siberia")  
          .intro__item.intro__location-volga
            a.intro__item.intro__completed(href="#", data-id="completed-volga")
          .intro__item.intro__location-iran
            a.intro__item.intro__completed(href="#", data-id="completed-iran")  
          .intro__item.intro__location-northaustralia
            a.intro__item.intro__active(href="#", data-id="completed-northaustralia")    
          .intro__item.intro__location-korea
            a.intro__item.intro__active(href="#", data-id="completed-korea")     
          .intro__item.intro__location-sakhalin
            a.intro__item.intro__active(href="#", data-id="completed-sakhalin")
          .intro__item.intro__location-kamchatka
            a.intro__item.intro__active(href="#", data-id="completed-kamchatka")
          .intro__item.intro__location-yakutia
            a.intro__item.intro__active(href="#", data-id="completed-yakutia")

  #completed-columbia-375.intro__description.intro__description--left
    div
      .intro__description-title--aqua Custom CRM development for Zaman Brocker 
      .intro__description-info Location: 
        span Canberra, Australia
      .intro__description-info.intro__description-status--aqua Status:
        span completed
      .intro__description-info Duration: 
        span 8 month
      .intro__description-info Service: 
        spanSoftware development 
      .intro__description-info Industry: 
        span IoT
      .intro__description-info Team: 
        span 2 SW Engineers
      .intro__description-info Tech stack: 
        span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
      .intro__description-info Collaboration tools: 
        span Zoom, Worksection
      a.intro__description-link--aqua(href="#") view full case study
      a.intro__description-cross(href="#")
  #completed-canada-375.intro__description.intro__description--left
    div
      .intro__description-title--blue Custom CRM development for Zaman Brocker 
      .intro__description-info Location: 
        span Canberra, Australia
      .intro__description-info.intro__description-status--blue Status:
        span completed
      .intro__description-info Duration: 
        span 8 month
      .intro__description-info Service: 
        spanSoftware development 
      .intro__description-info Industry: 
        span IoT
      .intro__description-info Team: 
        span 2 SW Engineers
      .intro__description-info Tech stack: 
        span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
      .intro__description-info Collaboration tools: 
        span Zoom, Worksection
      a.intro__description-link--blue(href="#") view full case study
      a.intro__description-cross(href="#")
  #completed-alaska-375.intro__description.intro__description--left
    div
      .intro__description-title--aqua Custom CRM development for Zaman Brocker 
      .intro__description-info Location: 
        span Canberra, Australia
      .intro__description-info.intro__description-status--aqua Status:
        span completed
      .intro__description-info Duration: 
        span 8 month
      .intro__description-info Service: 
        spanSoftware development 
      .intro__description-info Industry: 
        span IoT
      .intro__description-info Team: 
        span 2 SW Engineers
      .intro__description-info Tech stack: 
        span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
      .intro__description-info Collaboration tools: 
        span Zoom, Worksection
      a.intro__description-link--aqua(href="#") view full case study
      a.intro__description-cross(href="#")
  #completed-southalaska-375.intro__description.intro__description--right
    div
      .intro__description-title--blue Custom CRM development for Zaman Brocker 
      .intro__description-info Location: 
        span Canberra, Australia
      .intro__description-info.intro__description-status--blue Status:
        span completed
      .intro__description-info Duration: 
        span 8 month
      .intro__description-info Service: 
        spanSoftware development 
      .intro__description-info Industry: 
        span IoT
      .intro__description-info Team: 
        span 2 SW Engineers
      .intro__description-info Tech stack: 
        span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
      .intro__description-info Collaboration tools: 
        span Zoom, Worksection
      a.intro__description-link--blue(href="#") view full case study
      a.intro__description-cross(href="#")
  #completed-usa-375.intro__description.intro__description--right
    div
      .intro__description-title--blue Custom CRM development for Zaman Brocker 
      .intro__description-info Location: 
        span Canberra, Australia
      .intro__description-info.intro__description-status--blue Status:
        span completed
      .intro__description-info Duration: 
        span 8 month
      .intro__description-info Service: 
        spanSoftware development 
      .intro__description-info Industry: 
        span IoT
      .intro__description-info Team: 
        span 2 SW Engineers
      .intro__description-info Tech stack: 
        span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
      .intro__description-info Collaboration tools: 
        span Zoom, Worksection
      a.intro__description-link--blue(href="#") view full case study
      a.intro__description-cross(href="#")
  #completed-brasil-375.intro__description.intro__description--right
    div
      .intro__description-title--blue Custom CRM development for Zaman Brocker 
      .intro__description-info Location: 
        span Canberra, Australia
      .intro__description-info.intro__description-status--blue Status:
        span completed
      .intro__description-info Duration: 
        span 8 month
      .intro__description-info Service: 
        spanSoftware development 
      .intro__description-info Industry: 
        span IoT
      .intro__description-info Team: 
        span 2 SW Engineers
      .intro__description-info Tech stack: 
        span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
      .intro__description-info Collaboration tools: 
        span Zoom, Worksection
      a.intro__description-link--blue(href="#") view full case study
      a.intro__description-cross(href="#")
  #completed-argentina-375.intro__description.intro__description--right
    div
      .intro__description-title--blue Custom CRM development for Zaman Brocker 
      .intro__description-info Location: 
        span Canberra, Australia
      .intro__description-info.intro__description-status--blue Status:
        span completed
      .intro__description-info Duration: 
        span 8 month
      .intro__description-info Service: 
        spanSoftware development 
      .intro__description-info Industry: 
        span IoT
      .intro__description-info Team: 
        span 2 SW Engineers
      .intro__description-info Tech stack: 
        span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
      .intro__description-info Collaboration tools: 
        span Zoom, Worksection
      a.intro__description-link--blue(href="#") view full case study
      a.intro__description-cross(href="#")
  #completed-litva-375.intro__description.intro__description--left
    div
      .intro__description-title--aqua Custom CRM development for Zaman Brocker 
      .intro__description-info Location: 
        span Canberra, Australia
      .intro__description-info.intro__description-status--aqua Status:
        span completed
      .intro__description-info Duration: 
        span 8 month
      .intro__description-info Service: 
        spanSoftware development 
      .intro__description-info Industry: 
        span IoT
      .intro__description-info Team: 
        span 2 SW Engineers
      .intro__description-info Tech stack: 
        span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
      .intro__description-info Collaboration tools: 
        span Zoom, Worksection
      a.intro__description-link--aqua(href="#") view full case study
      a.intro__description-cross(href="#")
  #completed-poland-375.intro__description.intro__description--left
    div
      .intro__description-title--aqua Custom CRM development for Zaman Brocker 
      .intro__description-info Location: 
        span Canberra, Australia
      .intro__description-info.intro__description-status--aqua Status:
        span completed
      .intro__description-info Duration: 
        span 8 month
      .intro__description-info Service: 
        spanSoftware development 
      .intro__description-info Industry: 
        span IoT
      .intro__description-info Team: 
        span 2 SW Engineers
      .intro__description-info Tech stack: 
        span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
      .intro__description-info Collaboration tools: 
        span Zoom, Worksection
      a.intro__description-link--aqua(href="#") view full case study
      a.intro__description-cross(href="#")
  #completed-africa-375.intro__description.intro__description--left
    div
      .intro__description-title--aqua Custom CRM development for Zaman Brocker 
      .intro__description-info Location: 
        span Canberra, Australia
      .intro__description-info.intro__description-status--aqua Status:
        span completed
      .intro__description-info Duration: 
        span 8 month
      .intro__description-info Service: 
        spanSoftware development 
      .intro__description-info Industry: 
        span IoT
      .intro__description-info Team: 
        span 2 SW Engineers
      .intro__description-info Tech stack: 
        span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
      .intro__description-info Collaboration tools: 
        span Zoom, Worksection
      a.intro__description-link--aqua(href="#") view full case study
      a.intro__description-cross(href="#")
  #completed-southafrica-375.intro__description.intro__description--right
    div
      .intro__description-title--blue Custom CRM development for Zaman Brocker 
      .intro__description-info Location: 
        span Canberra, Australia
      .intro__description-info.intro__description-status--blue Status:
        span completed
      .intro__description-info Duration: 
        span 8 month
      .intro__description-info Service: 
        spanSoftware development 
      .intro__description-info Industry: 
        span IoT
      .intro__description-info Team: 
        span 2 SW Engineers
      .intro__description-info Tech stack: 
        span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
      .intro__description-info Collaboration tools: 
        span Zoom, Worksection
      a.intro__description-link--blue(href="#") view full case study
      a.intro__description-cross(href="#")
  #completed-niger-375.intro__description.intro__description--right
    div
      .intro__description-title--blue Custom CRM development for Zaman Brocker 
      .intro__description-info Location: 
        span Canberra, Australia
      .intro__description-info.intro__description-status--blue Status:
        span completed
      .intro__description-info Duration: 
        span 8 month
      .intro__description-info Service: 
        spanSoftware development 
      .intro__description-info Industry: 
        span IoT
      .intro__description-info Team: 
        span 2 SW Engineers
      .intro__description-info Tech stack: 
        span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
      .intro__description-info Collaboration tools: 
        span Zoom, Worksection
      a.intro__description-link--blue(href="#") view full case study
      a.intro__description-cross(href="#")
  #completed-uk-375.intro__description.intro__description--right
    div
      .intro__description-title--blue Custom CRM development for Zaman Brocker 
      .intro__description-info Location: 
        span Canberra, Australia
      .intro__description-info.intro__description-status--blue Status:
        span completed
      .intro__description-info Duration: 
        span 8 month
      .intro__description-info Service: 
        spanSoftware development 
      .intro__description-info Industry: 
        span IoT
      .intro__description-info Team: 
        span 2 SW Engineers
      .intro__description-info Tech stack: 
        span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
      .intro__description-info Collaboration tools: 
        span Zoom, Worksection
      a.intro__description-link--blue(href="#") view full case study
      a.intro__description-cross(href="#")
  #completed-egipt-375.intro__description.intro__description--right
    div
      .intro__description-title--blue Custom CRM development for Zaman Brocker 
      .intro__description-info Location: 
        span Canberra, Australia
      .intro__description-info.intro__description-status--blue Status:
        span completed
      .intro__description-info Duration: 
        span 8 month
      .intro__description-info Service: 
        spanSoftware development 
      .intro__description-info Industry: 
        span IoT
      .intro__description-info Team: 
        span 2 SW Engineers
      .intro__description-info Tech stack: 
        span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
      .intro__description-info Collaboration tools: 
        span Zoom, Worksection
      a.intro__description-link--blue(href="#") view full case study
      a.intro__description-cross(href="#")
  #completed-kz-375.intro__description.intro__description--right
    div
      .intro__description-title--blue Custom CRM development for Zaman Brocker 
      .intro__description-info Location: 
        span Canberra, Australia
      .intro__description-info.intro__description-status--blue Status:
        span completed
      .intro__description-info Duration: 
        span 8 month
      .intro__description-info Service: 
        spanSoftware development 
      .intro__description-info Industry: 
        span IoT
      .intro__description-info Team: 
        span 2 SW Engineers
      .intro__description-info Tech stack: 
        span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
      .intro__description-info Collaboration tools: 
        span Zoom, Worksection
      a.intro__description-link--blue(href="#") view full case study
      a.intro__description-cross(href="#")
  #completed-australia-375.intro__description.intro__description--left
    div
      .intro__description-title--aqua Custom CRM development for Zaman Brocker 
      .intro__description-info Location: 
        span Canberra, Australia
      .intro__description-info.intro__description-status--aqua Status:
        span completed
      .intro__description-info Duration: 
        span 8 month
      .intro__description-info Service: 
        spanSoftware development 
      .intro__description-info Industry: 
        span IoT
      .intro__description-info Team: 
        span 2 SW Engineers
      .intro__description-info Tech stack: 
        span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
      .intro__description-info Collaboration tools: 
        span Zoom, Worksection
      a.intro__description-link--aqua(href="#") view full case study
      a.intro__description-cross(href="#")
  #completed-china-375.intro__description.intro__description--left
    div
      .intro__description-title--aqua Custom CRM development for Zaman Brocker 
      .intro__description-info Location: 
        span Canberra, Australia
      .intro__description-info.intro__description-status--aqua Status:
        span completed
      .intro__description-info Duration: 
        span 8 month
      .intro__description-info Service: 
        spanSoftware development 
      .intro__description-info Industry: 
        span IoT
      .intro__description-info Team: 
        span 2 SW Engineers
      .intro__description-info Tech stack: 
        span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
      .intro__description-info Collaboration tools: 
        span Zoom, Worksection
      a.intro__description-link--aqua(href="#") view full case study
      a.intro__description-cross(href="#")
  #completed-siberia-375.intro__description.intro__description--left
    div
      .intro__description-title--aqua Custom CRM development for Zaman Brocker 
      .intro__description-info Location: 
        span Canberra, Australia
      .intro__description-info.intro__description-status--aqua Status:
        span completed
      .intro__description-info Duration: 
        span 8 month
      .intro__description-info Service: 
        spanSoftware development 
      .intro__description-info Industry: 
        span IoT
      .intro__description-info Team: 
        span 2 SW Engineers
      .intro__description-info Tech stack: 
        span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
      .intro__description-info Collaboration tools: 
        span Zoom, Worksection
      a.intro__description-link--aqua(href="#") view full case study
      a.intro__description-cross(href="#")
  #completed-volga-375.intro__description.intro__description--left
    div
      .intro__description-title--aqua Custom CRM development for Zaman Brocker 
      .intro__description-info Location: 
        span Canberra, Australia
      .intro__description-info.intro__description-status--aqua Status:
        span completed
      .intro__description-info Duration: 
        span 8 month
      .intro__description-info Service: 
        spanSoftware development 
      .intro__description-info Industry: 
        span IoT
      .intro__description-info Team: 
        span 2 SW Engineers
      .intro__description-info Tech stack: 
        span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
      .intro__description-info Collaboration tools: 
        span Zoom, Worksection
      a.intro__description-link--aqua(href="#") view full case study
      a.intro__description-cross(href="#")
  #completed-iran-375.intro__description.intro__description--left
    div
      .intro__description-title--aqua Custom CRM development for Zaman Brocker 
      .intro__description-info Location: 
        span Canberra, Australia
      .intro__description-info.intro__description-status--aqua Status:
        span completed
      .intro__description-info Duration: 
        span 8 month
      .intro__description-info Service: 
        spanSoftware development 
      .intro__description-info Industry: 
        span IoT
      .intro__description-info Team: 
        span 2 SW Engineers
      .intro__description-info Tech stack: 
        span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
      .intro__description-info Collaboration tools: 
        span Zoom, Worksection
      a.intro__description-link--aqua(href="#") view full case study
      a.intro__description-cross(href="#")
  #completed-northaustralia-375.intro__description.intro__description--right
    div
      .intro__description-title--blue Custom CRM development for Zaman Brocker 
      .intro__description-info Location: 
        span Canberra, Australia
      .intro__description-info.intro__description-status--blue Status:
        span completed
      .intro__description-info Duration: 
        span 8 month
      .intro__description-info Service: 
        spanSoftware development 
      .intro__description-info Industry: 
        span IoT
      .intro__description-info Team: 
        span 2 SW Engineers
      .intro__description-info Tech stack: 
        span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
      .intro__description-info Collaboration tools: 
        span Zoom, Worksection
      a.intro__description-link--blue(href="#") view full case study
      a.intro__description-cross(href="#")
  #completed-korea-375.intro__description.intro__description--right
    div
      .intro__description-title--blue Custom CRM development for Zaman Brocker 
      .intro__description-info Location: 
        span Canberra, Australia
      .intro__description-info.intro__description-status--blue Status:
        span completed
      .intro__description-info Duration: 
        span 8 month
      .intro__description-info Service: 
        spanSoftware development 
      .intro__description-info Industry: 
        span IoT
      .intro__description-info Team: 
        span 2 SW Engineers
      .intro__description-info Tech stack: 
        span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
      .intro__description-info Collaboration tools: 
        span Zoom, Worksection
      a.intro__description-link--blue(href="#") view full case study
      a.intro__description-cross(href="#")
  #completed-sakhalin-375.intro__description.intro__description--right
    div
      .intro__description-title--blue Custom CRM development for Zaman Brocker 
      .intro__description-info Location: 
        span Canberra, Australia
      .intro__description-info.intro__description-status--blue Status:
        span completed
      .intro__description-info Duration: 
        span 8 month
      .intro__description-info Service: 
        spanSoftware development 
      .intro__description-info Industry: 
        span IoT
      .intro__description-info Team: 
        span 2 SW Engineers
      .intro__description-info Tech stack: 
        span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
      .intro__description-info Collaboration tools: 
        span Zoom, Worksection
      a.intro__description-link--blue(href="#") view full case study
      a.intro__description-cross(href="#")
  #completed-kamchatka-375.intro__description.intro__description--right
    div
      .intro__description-title--blue Custom CRM development for Zaman Brocker 
      .intro__description-info Location: 
        span Canberra, Australia
      .intro__description-info.intro__description-status--blue Status:
        span completed
      .intro__description-info Duration: 
        span 8 month
      .intro__description-info Service: 
        spanSoftware development 
      .intro__description-info Industry: 
        span IoT
      .intro__description-info Team: 
        span 2 SW Engineers
      .intro__description-info Tech stack: 
        span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
      .intro__description-info Collaboration tools: 
        span Zoom, Worksection
      a.intro__description-link--blue(href="#") view full case study
      a.intro__description-cross(href="#")
  #completed-yakutia-375.intro__description.intro__description--right
            div
              .intro__description-title--blue Custom CRM development for Zaman Brocker 
              .intro__description-info Location: 
                span Canberra, Australia
              .intro__description-info.intro__description-status--blue Status:
                span completed
              .intro__description-info Duration: 
                span 8 month
              .intro__description-info Service: 
                spanSoftware development 
              .intro__description-info Industry: 
                span IoT
              .intro__description-info Team: 
                span 2 SW Engineers
              .intro__description-info Tech stack: 
                span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
              .intro__description-info Collaboration tools: 
                span Zoom, Worksection
              a.intro__description-link--blue(href="#") view full case study
              a.intro__description-cross(href="#")  






