section.intro.intro--1920
  .intro__inner
    .intro__title Custom Software Development
    .intro__subtitle For startups. For SaaS companies. For fast-growing businesses.

    .intro__item.intro__location-australia
      a.intro__item.intro__completed(href="#", data-id="completed-australia")
    .intro__item.intro__location-china
      a.intro__item.intro__completed(href="#", data-id="completed-china")
    .intro__item.intro__location-siberia
      a.intro__item.intro__completed(href="#", data-id="completed-siberia")  
    .intro__item.intro__location-volga
      a.intro__item.intro__completed(href="#", data-id="completed-volga")
    .intro__item.intro__location-iran
      a.intro__item.intro__completed(href="#", data-id="completed-iran")
    .intro__item.intro__location-litva
      a.intro__item.intro__completed(href="#", data-id="completed-litva")
    .intro__item.intro__location-poland
      a.intro__item.intro__completed(href="#", data-id="completed-poland")
    .intro__item.intro__location-africa
      a.intro__item.intro__completed(href="#", data-id="completed-africa")
    .intro__item.intro__location-columbia
      a.intro__item.intro__completed(href="#", data-id="completed-columbia")    
    .intro__item.intro__location-alaska
      a.intro__item.intro__completed(href="#", data-id="completed-alaska") 
    .intro__item.intro__location-canada
      a.intro__item.intro__active(href="#", data-id="completed-canada")   
    .intro__item.intro__location-southalaska
      a.intro__item.intro__active(href="#", data-id="completed-southalaska") 
    .intro__item.intro__location-usa
      a.intro__item.intro__active(href="#", data-id="completed-usa")  
    .intro__item.intro__location-brasil
      a.intro__item.intro__active(href="#", data-id="completed-brasil")
    .intro__item.intro__location-argentina
      a.intro__item.intro__active(href="#", data-id="completed-argentina") 
    .intro__item.intro__location-southafrica
      a.intro__item.intro__active(href="#", data-id="completed-southafrica")   
    .intro__item.intro__location-niger
      a.intro__item.intro__active(href="#", data-id="completed-niger")
    .intro__item.intro__location-uk
      a.intro__item.intro__active(href="#", data-id="completed-uk") 
    .intro__item.intro__location-egipt
      a.intro__item.intro__active(href="#", data-id="completed-egipt")  
    .intro__item.intro__location-kz
      a.intro__item.intro__active(href="#", data-id="completed-kz") 
    .intro__item.intro__location-northaustralia
      a.intro__item.intro__active(href="#", data-id="completed-northaustralia")    
    .intro__item.intro__location-korea
      a.intro__item.intro__active(href="#", data-id="completed-korea")     
    .intro__item.intro__location-sakhalin
      a.intro__item.intro__active(href="#", data-id="completed-sakhalin")
    .intro__item.intro__location-kamchatka
      a.intro__item.intro__active(href="#", data-id="completed-kamchatka")
    .intro__item.intro__location-yakutia
      a.intro__item.intro__active(href="#", data-id="completed-yakutia")

    #completed-australia.intro__description.intro__description--left
      div
        .intro__description-title--aqua Custom CRM development for Zaman Brocker 
        .intro__description-info Location: 
          span Canberra, Australia
        .intro__description-info.intro__description-status--aqua Status:
          span completed
        .intro__description-info Duration: 
          span 8 month
        .intro__description-info Service: 
          spanSoftware development 
        .intro__description-info Industry: 
          span IoT
        .intro__description-info Team: 
          span 2 SW Engineers
        .intro__description-info Tech stack: 
          span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
        .intro__description-info Collaboration tools: 
          span Zoom, Worksection
        a.intro__description-link--aqua(href="#") view full case study
        a.intro__description-cross(href="#")
    #completed-china.intro__description.intro__description--left
      div
        .intro__description-title--aqua Custom CRM development for Zaman Brocker 
        .intro__description-info Location: 
          span Canberra, Australia
        .intro__description-info.intro__description-status--aqua Status:
          span completed
        .intro__description-info Duration: 
          span 8 month
        .intro__description-info Service: 
          spanSoftware development 
        .intro__description-info Industry: 
          span IoT
        .intro__description-info Team: 
          span 2 SW Engineers
        .intro__description-info Tech stack: 
          span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
        .intro__description-info Collaboration tools: 
          span Zoom, Worksection
        a.intro__description-link--aqua(href="#") view full case study
        a.intro__description-cross(href="#")
    #completed-siberia.intro__description.intro__description--left
      div
        .intro__description-title--aqua Custom CRM development for Zaman Brocker 
        .intro__description-info Location: 
          span Canberra, Australia
        .intro__description-info.intro__description-status--aqua Status:
          span completed
        .intro__description-info Duration: 
          span 8 month
        .intro__description-info Service: 
          spanSoftware development 
        .intro__description-info Industry: 
          span IoT
        .intro__description-info Team: 
          span 2 SW Engineers
        .intro__description-info Tech stack: 
          span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
        .intro__description-info Collaboration tools: 
          span Zoom, Worksection
        a.intro__description-link--aqua(href="#") view full case study
        a.intro__description-cross(href="#")
    #completed-volga.intro__description.intro__description--left
      div
        .intro__description-title--aqua Custom CRM development for Zaman Brocker 
        .intro__description-info Location: 
          span Canberra, Australia
        .intro__description-info.intro__description-status--aqua Status:
          span completed
        .intro__description-info Duration: 
          span 8 month
        .intro__description-info Service: 
          spanSoftware development 
        .intro__description-info Industry: 
          span IoT
        .intro__description-info Team: 
          span 2 SW Engineers
        .intro__description-info Tech stack: 
          span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
        .intro__description-info Collaboration tools: 
          span Zoom, Worksection
        a.intro__description-link--aqua(href="#") view full case study
        a.intro__description-cross(href="#")
    #completed-iran.intro__description.intro__description--left
      div
        .intro__description-title--aqua Custom CRM development for Zaman Brocker 
        .intro__description-info Location: 
          span Canberra, Australia
        .intro__description-info.intro__description-status--aqua Status:
          span completed
        .intro__description-info Duration: 
          span 8 month
        .intro__description-info Service: 
          spanSoftware development 
        .intro__description-info Industry: 
          span IoT
        .intro__description-info Team: 
          span 2 SW Engineers
        .intro__description-info Tech stack: 
          span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
        .intro__description-info Collaboration tools: 
          span Zoom, Worksection
        a.intro__description-link--aqua(href="#") view full case study
        a.intro__description-cross(href="#")
    #completed-litva.intro__description.intro__description--left
      div
        .intro__description-title--aqua Custom CRM development for Zaman Brocker 
        .intro__description-info Location: 
          span Canberra, Australia
        .intro__description-info.intro__description-status--aqua Status:
          span completed
        .intro__description-info Duration: 
          span 8 month
        .intro__description-info Service: 
          spanSoftware development 
        .intro__description-info Industry: 
          span IoT
        .intro__description-info Team: 
          span 2 SW Engineers
        .intro__description-info Tech stack: 
          span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
        .intro__description-info Collaboration tools: 
          span Zoom, Worksection
        a.intro__description-link--aqua(href="#") view full case study
        a.intro__description-cross(href="#")
    #completed-poland.intro__description.intro__description--left
      div
        .intro__description-title--aqua Custom CRM development for Zaman Brocker 
        .intro__description-info Location: 
          span Canberra, Australia
        .intro__description-info.intro__description-status--aqua Status:
          span completed
        .intro__description-info Duration: 
          span 8 month
        .intro__description-info Service: 
          spanSoftware development 
        .intro__description-info Industry: 
          span IoT
        .intro__description-info Team: 
          span 2 SW Engineers
        .intro__description-info Tech stack: 
          span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
        .intro__description-info Collaboration tools: 
          span Zoom, Worksection
        a.intro__description-link--aqua(href="#") view full case study
        a.intro__description-cross(href="#")
    #completed-africa.intro__description.intro__description--left
      div
        .intro__description-title--aqua Custom CRM development for Zaman Brocker 
        .intro__description-info Location: 
          span Canberra, Australia
        .intro__description-info.intro__description-status--aqua Status:
          span completed
        .intro__description-info Duration: 
          span 8 month
        .intro__description-info Service: 
          spanSoftware development 
        .intro__description-info Industry: 
          span IoT
        .intro__description-info Team: 
          span 2 SW Engineers
        .intro__description-info Tech stack: 
          span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
        .intro__description-info Collaboration tools: 
          span Zoom, Worksection
        a.intro__description-link--aqua(href="#") view full case study
        a.intro__description-cross(href="#")
    #completed-columbia.intro__description.intro__description--left
      div
        .intro__description-title--aqua Custom CRM development for Zaman Brocker 
        .intro__description-info Location: 
          span Canberra, Australia
        .intro__description-info.intro__description-status--aqua Status:
          span completed
        .intro__description-info Duration: 
          span 8 month
        .intro__description-info Service: 
          spanSoftware development 
        .intro__description-info Industry: 
          span IoT
        .intro__description-info Team: 
          span 2 SW Engineers
        .intro__description-info Tech stack: 
          span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
        .intro__description-info Collaboration tools: 
          span Zoom, Worksection
        a.intro__description-link--aqua(href="#") view full case study
        a.intro__description-cross(href="#")
    #completed-canada.intro__description.intro__description--left
      div
        .intro__description-title--blue Custom CRM development for Zaman Brocker 
        .intro__description-info Location: 
          span Canberra, Australia
        .intro__description-info.intro__description-status--blue Status:
          span completed
        .intro__description-info Duration: 
          span 8 month
        .intro__description-info Service: 
          spanSoftware development 
        .intro__description-info Industry: 
          span IoT
        .intro__description-info Team: 
          span 2 SW Engineers
        .intro__description-info Tech stack: 
          span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
        .intro__description-info Collaboration tools: 
          span Zoom, Worksection
        a.intro__description-link--blue(href="#") view full case study
        a.intro__description-cross(href="#")
    #completed-alaska.intro__description.intro__description--left
      div
        .intro__description-title--aqua Custom CRM development for Zaman Brocker 
        .intro__description-info Location: 
          span Canberra, Australia
        .intro__description-info.intro__description-status--aqua Status:
          span completed
        .intro__description-info Duration: 
          span 8 month
        .intro__description-info Service: 
          spanSoftware development 
        .intro__description-info Industry: 
          span IoT
        .intro__description-info Team: 
          span 2 SW Engineers
        .intro__description-info Tech stack: 
          span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
        .intro__description-info Collaboration tools: 
          span Zoom, Worksection
        a.intro__description-link--aqua(href="#") view full case study
        a.intro__description-cross(href="#")
    #completed-southalaska.intro__description.intro__description--right
      div
        .intro__description-title--blue Custom CRM development for Zaman Brocker 
        .intro__description-info Location: 
          span Canberra, Australia
        .intro__description-info.intro__description-status--blue Status:
          span completed
        .intro__description-info Duration: 
          span 8 month
        .intro__description-info Service: 
          spanSoftware development 
        .intro__description-info Industry: 
          span IoT
        .intro__description-info Team: 
          span 2 SW Engineers
        .intro__description-info Tech stack: 
          span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
        .intro__description-info Collaboration tools: 
          span Zoom, Worksection
        a.intro__description-link--blue(href="#") view full case study
        a.intro__description-cross(href="#")
    #completed-usa.intro__description.intro__description--right
      div
        .intro__description-title--blue Custom CRM development for Zaman Brocker 
        .intro__description-info Location: 
          span Canberra, Australia
        .intro__description-info.intro__description-status--blue Status:
          span completed
        .intro__description-info Duration: 
          span 8 month
        .intro__description-info Service: 
          spanSoftware development 
        .intro__description-info Industry: 
          span IoT
        .intro__description-info Team: 
          span 2 SW Engineers
        .intro__description-info Tech stack: 
          span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
        .intro__description-info Collaboration tools: 
          span Zoom, Worksection
        a.intro__description-link--blue(href="#") view full case study
        a.intro__description-cross(href="#")
    #completed-brasil.intro__description.intro__description--right
      div
        .intro__description-title--blue Custom CRM development for Zaman Brocker 
        .intro__description-info Location: 
          span Canberra, Australia
        .intro__description-info.intro__description-status--blue Status:
          span completed
        .intro__description-info Duration: 
          span 8 month
        .intro__description-info Service: 
          spanSoftware development 
        .intro__description-info Industry: 
          span IoT
        .intro__description-info Team: 
          span 2 SW Engineers
        .intro__description-info Tech stack: 
          span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
        .intro__description-info Collaboration tools: 
          span Zoom, Worksection
        a.intro__description-link--blue(href="#") view full case study
        a.intro__description-cross(href="#")
    #completed-argentina.intro__description.intro__description--right
      div
        .intro__description-title--blue Custom CRM development for Zaman Brocker 
        .intro__description-info Location: 
          span Canberra, Australia
        .intro__description-info.intro__description-status--blue Status:
          span completed
        .intro__description-info Duration: 
          span 8 month
        .intro__description-info Service: 
          spanSoftware development 
        .intro__description-info Industry: 
          span IoT
        .intro__description-info Team: 
          span 2 SW Engineers
        .intro__description-info Tech stack: 
          span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
        .intro__description-info Collaboration tools: 
          span Zoom, Worksection
        a.intro__description-link--blue(href="#") view full case study
        a.intro__description-cross(href="#")
    #completed-southafrica.intro__description.intro__description--right
      div
        .intro__description-title--blue Custom CRM development for Zaman Brocker 
        .intro__description-info Location: 
          span Canberra, Australia
        .intro__description-info.intro__description-status--blue Status:
          span completed
        .intro__description-info Duration: 
          span 8 month
        .intro__description-info Service: 
          spanSoftware development 
        .intro__description-info Industry: 
          span IoT
        .intro__description-info Team: 
          span 2 SW Engineers
        .intro__description-info Tech stack: 
          span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
        .intro__description-info Collaboration tools: 
          span Zoom, Worksection
        a.intro__description-link--blue(href="#") view full case study
        a.intro__description-cross(href="#")
    #completed-niger.intro__description.intro__description--right
      div
        .intro__description-title--blue Custom CRM development for Zaman Brocker 
        .intro__description-info Location: 
          span Canberra, Australia
        .intro__description-info.intro__description-status--blue Status:
          span completed
        .intro__description-info Duration: 
          span 8 month
        .intro__description-info Service: 
          spanSoftware development 
        .intro__description-info Industry: 
          span IoT
        .intro__description-info Team: 
          span 2 SW Engineers
        .intro__description-info Tech stack: 
          span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
        .intro__description-info Collaboration tools: 
          span Zoom, Worksection
        a.intro__description-link--blue(href="#") view full case study
        a.intro__description-cross(href="#")
    #completed-uk.intro__description.intro__description--right
      div
        .intro__description-title--blue Custom CRM development for Zaman Brocker 
        .intro__description-info Location: 
          span Canberra, Australia
        .intro__description-info.intro__description-status--blue Status:
          span completed
        .intro__description-info Duration: 
          span 8 month
        .intro__description-info Service: 
          spanSoftware development 
        .intro__description-info Industry: 
          span IoT
        .intro__description-info Team: 
          span 2 SW Engineers
        .intro__description-info Tech stack: 
          span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
        .intro__description-info Collaboration tools: 
          span Zoom, Worksection
        a.intro__description-link--blue(href="#") view full case study
        a.intro__description-cross(href="#")
    #completed-egipt.intro__description.intro__description--right
      div
        .intro__description-title--blue Custom CRM development for Zaman Brocker 
        .intro__description-info Location: 
          span Canberra, Australia
        .intro__description-info.intro__description-status--blue Status:
          span completed
        .intro__description-info Duration: 
          span 8 month
        .intro__description-info Service: 
          spanSoftware development 
        .intro__description-info Industry: 
          span IoT
        .intro__description-info Team: 
          span 2 SW Engineers
        .intro__description-info Tech stack: 
          span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
        .intro__description-info Collaboration tools: 
          span Zoom, Worksection
        a.intro__description-link--blue(href="#") view full case study
        a.intro__description-cross(href="#")
    #completed-kz.intro__description.intro__description--right
      div
        .intro__description-title--blue Custom CRM development for Zaman Brocker 
        .intro__description-info Location: 
          span Canberra, Australia
        .intro__description-info.intro__description-status--blue Status:
          span completed
        .intro__description-info Duration: 
          span 8 month
        .intro__description-info Service: 
          spanSoftware development 
        .intro__description-info Industry: 
          span IoT
        .intro__description-info Team: 
          span 2 SW Engineers
        .intro__description-info Tech stack: 
          span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
        .intro__description-info Collaboration tools: 
          span Zoom, Worksection
        a.intro__description-link--blue(href="#") view full case study
        a.intro__description-cross(href="#")
    #completed-northaustralia.intro__description.intro__description--right
      div
        .intro__description-title--blue Custom CRM development for Zaman Brocker 
        .intro__description-info Location: 
          span Canberra, Australia
        .intro__description-info.intro__description-status--blue Status:
          span completed
        .intro__description-info Duration: 
          span 8 month
        .intro__description-info Service: 
          spanSoftware development 
        .intro__description-info Industry: 
          span IoT
        .intro__description-info Team: 
          span 2 SW Engineers
        .intro__description-info Tech stack: 
          span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
        .intro__description-info Collaboration tools: 
          span Zoom, Worksection
        a.intro__description-link--blue(href="#") view full case study
        a.intro__description-cross(href="#")
    #completed-korea.intro__description.intro__description--right
      div
        .intro__description-title--blue Custom CRM development for Zaman Brocker 
        .intro__description-info Location: 
          span Canberra, Australia
        .intro__description-info.intro__description-status--blue Status:
          span completed
        .intro__description-info Duration: 
          span 8 month
        .intro__description-info Service: 
          spanSoftware development 
        .intro__description-info Industry: 
          span IoT
        .intro__description-info Team: 
          span 2 SW Engineers
        .intro__description-info Tech stack: 
          span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
        .intro__description-info Collaboration tools: 
          span Zoom, Worksection
        a.intro__description-link--blue(href="#") view full case study
        a.intro__description-cross(href="#")
    #completed-sakhalin.intro__description.intro__description--right
      div
        .intro__description-title--blue Custom CRM development for Zaman Brocker 
        .intro__description-info Location: 
          span Canberra, Australia
        .intro__description-info.intro__description-status--blue Status:
          span completed
        .intro__description-info Duration: 
          span 8 month
        .intro__description-info Service: 
          spanSoftware development 
        .intro__description-info Industry: 
          span IoT
        .intro__description-info Team: 
          span 2 SW Engineers
        .intro__description-info Tech stack: 
          span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
        .intro__description-info Collaboration tools: 
          span Zoom, Worksection
        a.intro__description-link--blue(href="#") view full case study
        a.intro__description-cross(href="#")
    #completed-kamchatka.intro__description.intro__description--right
      div
        .intro__description-title--blue Custom CRM development for Zaman Brocker 
        .intro__description-info Location: 
          span Canberra, Australia
        .intro__description-info.intro__description-status--blue Status:
          span completed
        .intro__description-info Duration: 
          span 8 month
        .intro__description-info Service: 
          spanSoftware development 
        .intro__description-info Industry: 
          span IoT
        .intro__description-info Team: 
          span 2 SW Engineers
        .intro__description-info Tech stack: 
          span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
        .intro__description-info Collaboration tools: 
          span Zoom, Worksection
        a.intro__description-link--blue(href="#") view full case study
        a.intro__description-cross(href="#")
    #completed-yakutia.intro__description.intro__description--right
      div
        .intro__description-title--blue Custom CRM development for Zaman Brocker 
        .intro__description-info Location: 
          span Canberra, Australia
        .intro__description-info.intro__description-status--blue Status:
          span completed
        .intro__description-info Duration: 
          span 8 month
        .intro__description-info Service: 
          spanSoftware development 
        .intro__description-info Industry: 
          span IoT
        .intro__description-info Team: 
          span 2 SW Engineers
        .intro__description-info Tech stack: 
          span Angular 2, Node JS, FeathersJS, MongoDB, Git, HTML/CSS, jQuery
        .intro__description-info Collaboration tools: 
          span Zoom, Worksection
        a.intro__description-link--blue(href="#") view full case study
        a.intro__description-cross(href="#")
    