section.trusted.trusted--slider
  .trusted__title Trusted by the best
  .trusted__items
    .trusted__item-wrapper
      .trusted__item
        img.trusted__image(src="img/raster/partners/hubspot.png" alt="hubspot")
    .trusted__item-wrapper
      .trusted__item
        img.trusted__image(src="img/raster/partners/vtb.png" alt="vtb group")
    .trusted__item-wrapper
      .trusted__item
        img.trusted__image(src="img/raster/partners/classictic.png" alt="classictic")
    .trusted__item-wrapper
      .trusted__item
        img.trusted__image(src="img/raster/partners/personaly.png" alt="personaly")
    .trusted__item-wrapper
      .trusted__item
        img.trusted__image(src="img/raster/partners/wowwee.png" alt="wowwee")
    .trusted__item-wrapper
      .trusted__item
        img.trusted__image(src="img/raster/partners/mdberry.png" alt="mdberry")
    .trusted__item-wrapper
      .trusted__item
        img.trusted__image(src="img/raster/partners/thinfactory.png" alt="thinfactory")
    .trusted__item-wrapper
      .trusted__item
        img.trusted__image(src="img/raster/partners/trusted.png" alt="trusted-builder")  