section.wwu 
   .container
      .wwu__inner 
      +points('left')
      .wwu__description
         .wwu__picture.wwu__picture--left
            img.wwu__image(src="img/raster/wwu-left.webp", alt="work with us")
         .wwu__text Smart IT is a recognized B2B custom software development company. Looking for your next software partner? Read our reviews.<br>Already enjoying working with us? Leave your feedback.
         .wwu__picture.wwu__picture--right
            img.wwu__image(src="img/raster/wwu-right.webp", alt="work with us")
      +points('right')    