extends layout/layout
block vars
  title= "главная"
block header
  include modules/header
block main
  include modules/main-index
block footer
  include modules/footer
block scripts
  include modules/scripts