// import libs
@import "../../node_modules/normalize-scss/sass/normalize/import-now";

@import 'components/vars.scss';
@import 'components/mixins.scss';
@import 'components/fonts.scss';
@import 'components/default.scss';
@import 'components/general.scss';


.header {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  border-bottom: 1px solid $blue;
  margin-bottom: 50px;
  &__inner {
    min-height: 143px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo-image {
    width: 100%;
    height: auto;
  }
  &__menu-item {
    display: inline-block;
    & + & {
      margin-left: 50px;
    }
  }
  &__menu-button {
    position: relative;
    &::after{
      position: absolute;
      content: '';
      display: block;
      top: 2px;
      right: -15px;
      width: 10px;
      height: 6px;
      background-image: url(../img/icons/chevron-down.svg);
    }
  }

  &__dropdown {
    display: none;
  }
  &__work {
    font-weight: 700;
    color: #fff;
    padding: 22px 55px 19px;
    background-color: $pink;
  }
}
.intro{
  &__inner{
    position: relative;
    max-width: 1657px;
    width: 100%;
    margin: 0 auto;
    background-image: url(../img/raster/intro-world.png);
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 1067px;
    overflow: hidden;
  }
  &__title{
    text-align: center;
    @include font(92px, 200, #000, 110px);
    // line-height: 110px;
  }
  &__subtitle{
    text-align: center;
    @include font(36px, 300, #000, 54px)
  }
  &__item{
    width: 30px;
    height: 30px;
    display: block;
    z-index: 1;
    &-wrapper{position: relative;}
    &--right{
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
    }
    &--center{
      display: flex;
      justify-content: center;
    }
    &--left{
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
    }
  }
  &__completed{
    background-color: $aqua;
  }
  &__active{
    background-color: $blue;
  }

  &__description {
    padding: 25px;
    padding-bottom: 30px;
    background-color: #fff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    max-width: 600px;
    width: 100%;
    // transform: translateY(-1000px);
    // transition: 3s;
    position: relative;
    z-index: 100;
    // bottom: 30px;
    &--right{
      transition: 2s;
      transform: translateX(-2000px);
    }
    &--left{
      transition: 2s;
      transform: translateX(2000px);
    }
    &--bottom{
      transition: 2s;
      transform: translateY(1300px);
    }
    &--top{
      transition: 2s;
      transform: translateY(-1000px);
    }
    &.active{
      transform: translate(0);
    }
    &-cross::after,
    &-cross::before{
      position: absolute;
      content: '';
      display: block;
      width: 12px;
      height: 2px;
      background-color: #000;
      right: 30px;
      top: 30px;
    }
    &-cross::after{
      transform: rotate(45deg);
    }
    &-cross::before{
      transform: rotate(-45deg);
    }
  }
  &__description-title--aqua,
  &__description-title--blue {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  &__description-title--aqua {
    color: $aqua;
  }
  &__description-title--blue {
    color: $blue;
  }

  &__description-info {
    font-weight: 700;
    margin-bottom: 5px;
    span{
      margin-left: 10px;
      font-weight: 300;
    }
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4){
      display: inline-block;
      margin-right: 20px;
    }
  }

  &__description-status--aqua span,
  &__description-status--blue span {
    color: #fff;
    border-radius: 15px;
    font-weight: 500;
    padding: 4px 15px 2px;
  }
  &__description-status--aqua span {background-color: $aqua;}
  &__description-status--blue span {background-color: $blue;}

  &__description-link--aqua,
  &__description-link--blue {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    position: relative;
    padding-right: 34px;
    &::after{
      position: absolute;
      content: '';
      display: flex;
      align-items: center;
      justify-content: center;
      top: 2px;
      right: 0px;
      width: 24px;
      height: 16px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  &__description-link--aqua {
    color: $aqua;
    &::after{
      background-image: url(../img/svg/icons/right-arrow-aqua.svg);
    }
  }
  &__description-link--blue {
    color: $blue;
    &::after{
      background-image: url(../img/svg/icons/right-arrow-blue.svg);
    }
  }
  &__location{position: absolute;height: 316px;}
  &__location-australia{
    bottom: 152px;
    right: 138px;
  }
  &__location-china{
    bottom: 500px;
    right: 350px;
  }
  &__location-siberia{
    top: 58px;
    right: 407px;
  }
  &__location-volga{
    top: 84px;
    right: 502px;
  }
  &__location-iran{
    bottom: 520px;
    right: 557px;
  }
  &__location-litva{
    top: 42px;
    right: 724px;
  }
  &__location-poland{
    top: 127px;
    right: 749px;
  }
  &__location-africa{
    bottom: 342px;
    right: 696px;
  }
  &__location-columbia{
    bottom: 325px;
    left: 420px;
  }
  &__location-canada{
    top: 88px;
    left: 249px;
  }
  &__location-alaska{
    top: 8px;
    left: 45px;
  }
  &__location-southalaska{
    top: 8px;
    left: 164px;
  }
  &__location-usa{
    top: 160px;
    left: 334px;
  }
  &__location-brasil{
    bottom: 305px;
    left: 570px;
  }
  &__location-argentina{
    bottom: 148px;
    left: 519px;
  }
  &__location-southafrica{
    bottom: 220px;
    right: 700px;
  }
  &__location-niger{
    bottom: 442px;
    left: 788px;
  }
  &__location-uk{
    left: 772px;
    top: 84px;
  }
  &__location-egipt{
    right: 715px;
    bottom: 483px;
  }
  &__location-kz{
    right: 564px;
    top: 142px;
  }
  &__location-northaustralia{
    right: 216px;
    bottom: 210px;
  }
  &__location-korea{
    right: 246px;
    top: 155px;
  }
  &__location-sakhalin{
    right: 73px;
    top: 94px;
  }
  &__location-kamchatka{
    right: 73px;
    top: -26px;
  }
  &__location-yakutia{
    right: 245px;
    top: -26px;
  }

}
.trusted {
  background-color: #fff;
  padding-top: 50px;
  &__title {
    @include font(36px, 300, #000, 54px);
    text-align: center;
  }
  &__items {
    @include flex(168px);
  }
  &__item {
    max-width: calc(100% / 8 - 30px);
    width: 100%;
    & + & {
      margin-left: 60px;
    }
  }
  &__image {
    width: 100%;
  }
}
.services {
  background-color: #fff;
  padding-top: 100px;
  &__description {
    max-width: 987px;
    width: 100%;
    margin: 0 auto;
  }

  &__items {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    @include service-item(948px, 636px);
    padding: 0 80px;
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
    .points{
      position: absolute;
      opacity: .7;
      &--white{
        .points__item{background-color: #fff;}
      }
      &--aqua{
        .points__item{background-color: $aqua;}
      }
      &--purple{
        .points__item{background-color: $purple;}
      }
    }    
    &:hover{
      cursor: pointer;
      .services__item-info{
        opacity: 1;
      }
      .points{opacity: 0;}
    }
  }
  &__item-static{
    @include service-item(948px, 636px);
  }
  &__item-info{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 10px;
    @include service-item(948px, 636px);
    @include flex(636px);
    background-color: #fff;
    opacity: 0;
    transition: .5s;
  }
  &__item-hover{
    @include service-item(662px, auto);
    margin: 0 auto;
  }
  &__item-text{
    @include font(24px, 200, #000, 43px);
  }
  &__item-link{
    text-transform: uppercase;
    @include font(16px, 700, #000, 20px);
    text-align: left;
    padding-right: 34px;
    position: relative;
    margin-top: 42px;
    &::after{
      position: absolute;
      content: '';
      display: block;
      top: 0;
      right: 0;
      width: 24px;
      height: 16px;
      background-image: url(../img/icons/right-arrow-black.svg);
    }
  }
  
  &__item--blue {
    background-color: $blue;
    .services__item-info{border: 1px solid $blue;}
    .points{
      right: -110px;
      top: -70px;
    }
  }
  &__item--orange {
    background-color: $orange;
    .services__item-info{border: 1px solid $orange;}
  }
  &__item--purple {
    background-color: $purple;
    .services__item-info{border: 1px solid $purple;}
    .points{
      left: 270px;
      bottom: -150px;
    }
  }
  &__item--aqua {
    background-color: $aqua;
    .services__item-info{border: 1px solid $aqua;}
    .points{
      right: 6px;
      bottom: -29px;
    }
  }
  &__item--pink {
    background-color: $pink;
    .services__item-info{border: 1px solid $pink;}
    .points{
      right: -12px;
      top: -8px;
    }
  }
  &__item--lightgreen {
    background-color: $lightgreen;
  }

  &__item-inner {
    @include flex(636px);
    z-index: 10;
  }
  &__item-name {
    @include font(64px, 300, #fff, 90px);
    max-width: 420px;
  }
  &__item-static{
    color: #fff;
    text-align: center;
    height: 636px;
    display: flex;
    align-items: center;
    justify-content: center;
    .services__item-name{
      max-width: 700px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 50px;
    }
    .services__item-link{
      color: #fff;
      position: relative;
      &::after{
        position: absolute;
        content: '';
        display: block;
        top: 0;
        right: 0;
        padding-right: 34px;
        width: 24px;
        height: 16px;
        background-image: url(../img/svg/icons/right-arrow-white.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}
.wwu {
  position: relative;
  background-color: $grey-bg;
  overflow: hidden;
  .points--left,
  .points--right{
    position: absolute;
  }
  &__description{
    position: relative;
    z-index: 2;
    @include flex(265px);
  }
  .points--left {
    z-index: 1;
    bottom: 90px;
    left: -92px;
    .points__item{background-color: $orange;}
  }
  .points--right {
    z-index: 1;
    top: 37px;
    right: -67px;
    .points__item{background-color: $pink;}
  }
  &__inner {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    
  }

  &__picture {
    width: 100%;
    &--left{
      max-width: 200px;
    }
    &--right{
      max-width: 230px;  
    }
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__text {
    @include font(24px, 400, #000, 48px);
    max-width: 803px;
    width: 100%;
    margin-left: 60px;
    margin-right: 30px;
    text-align: center;
  }

}
.industries {
  padding-top: 150px;
  &__description {
    @include width(1032px);
    margin-bottom: 70px;
  }
  .tab-link {
    border: 1px solid $tab-grey;
    @include font(24px, 200, rgba(#000, .5),43px);
    width: 20%;
    @include flex(100px);
    justify-content: center;
    text-align: center;
    transition: .4s;
    &:hover{
      cursor: pointer;
    }
    &__wrapper {
      @include flex(100px);
    }
    &.active{
      background-color: $tab-grey;
      @include font(24px, 700, #000, 43px);
      position: relative;
      transition: background .4s linear;
      &::before{
        transition: .7s;
        position: absolute;
        content: '';
        display: block;
        bottom: 0;
        left: 0;
        width: 237px;
        height: 8px;
        background-color: $aqua;
      }
    }
  }
  .tab-content {
    text-align: center;
    display: none;
    padding-top: 200px;
    &.active-tab{display: block;}
    &__inner{
      min-height: 525px;
    }
    &__title {
      @include font(48px, 400, #000, 58px);
      margin-bottom: 20px;  
    }
  
    &__description {
      @include font(24px, 200, #000, 43px);
      @include width(1262px);
      margin-bottom: 40px;
    }
  
    &__link {
      background-color: $aqua;
    }
  }
  .fintech-title,
  .insurtech-title,
  .sass-title,
  .healthtech-title,
  .startups-title{
    position: relative;
    &::before{
      position: absolute;
      content: '';
      display: block;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 265px;
      height: 265px;
    }
  }
  .fintech-title::before {
    bottom: -33px;
    background-image: url(../img/svg/industries/fintech.svg);
  }
  .insurtech-title::before {
    bottom: -33px;
    background-image: url(../img/svg/industries/insurtech.svg);
  }
  .sass-title::before {
    bottom: -53px;
    background-image: url(../img/svg/industries/sass.svg);
  }
  .healthtech-title::before {
    bottom: -38px;
    background-image: url(../img/svg/industries/healthtech.svg);
  }
  .startups-title::before {
    bottom: -33px;
    background-image: url(../img/svg/industries/startups.svg);
  }
}
.reviews {
  padding-bottom: 310px;
  background-color: #fff;
  &__description{
    @include width(1032px);
    margin-bottom: 70px;
  }
  .slider-reviews {
    &__item {
      @include flex(537px);
      width: 100%;
    }
    &__logo{
      width: 46%;
      background-color: $lightgreen;
      @include flex(537px);
      justify-content: flex-end;
      padding-right: 112px;
    }
  
    &__info {
      height: 537px;
      padding-top: 100px;
      width: 54%;
      background-color: $grey-bg;
      padding-left: 80px;
    }
  
    &__position {
      @include font(18px, 200, #000, 32px);
      span{
        display: block;
        @include font(24px, 500, #000, 43px);
        margin-bottom: 30px;
      }
    }
  
    &__value {
      display: flex;
      align-items: center;
      margin-bottom: 35px;
    }
  
    &__link {
      @include font(16px, 700, $lightgreen, 20px);
      text-transform: uppercase;
      position: relative;
      padding-right: 34px;
      margin-left: 32px;
      &::after{
        position: absolute;
        content: '';
        display: block;
        top: 0;
        right: 0;
        width: 24px;
        height: 16px;
        background-image: url(../img/svg/icons/right-arrow-lightgreen.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  
    &__text {
      @include width(595px);
      margin: 0;
      @include font(18px, 200, #000, 32px);
      z-index: 2;
      position: relative;
      &::before{
        position: absolute;
        content: '';
        display: block;
        top: -10px;
        left: -40px;
        background-image: url(../img/svg/icons/two-lines.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 66px;
        height: 47px;
      }
    }
  
    &__nav {
      .slick-track{
        display: flex;
        flex-wrap: wrap;
      }
    }
  
    &__partner {
      margin: 0 auto;
      opacity: .8;
      @include flex(150px);
      img{
        margin: 0 auto;
        transform: scale(2);   
      }
    }
  }
  .slick-slide:focus{
    outline: none;
  }
  .slick-dots{
    width: 100%;
    bottom: -155px;
    @include flex(155px);
    flex-wrap: wrap;
    li{
      button{display: none;}
      button::after{display: none;}
      height: 100%;
      width: 25%;
      margin: 0;
      position: relative;
      &::after{
        position: absolute;
        content: '';
        display: block;
        top: 0;
        left: 50%;
        transform: translate(-50%);
      }
      &:nth-child(1)::after{
        top: calc((155px - 65px) / 2);
        width: 221px;
        height: 65px;
        background: url(../img/raster/partners/hubspot.png) center center no-repeat; 
        background-size: contain;
      }
      &:nth-child(2)::after{
        top: calc((155px - 150px) / 2);
        width: 265px;
        height: 150px;
        background: url(../img/raster/partners/vtb.png) center center no-repeat; 
        background-size: contain;
      }
      &:nth-child(3)::after{
        top: calc((155px - 72px) / 2);
        width: 386px;
        height: 72px;
        background: url(../img/raster/partners/classictic.png) center center no-repeat; 
        background-size: contain;
      }
      &:nth-child(4)::after{
        top: calc((155px - 98px) / 2);
        width: 353px;
        height: 98px;
        background: url(../img/raster/partners/personaly.png) center center no-repeat; 
        background-size: contain;
      }
      &:nth-child(5)::after{
        top: calc((155px - 99px) / 2);
        width: 251px;
        height: 99px;
        background: url(../img/raster/partners/wowwee.png) center center no-repeat; 
        background-size: contain;
      }
      &:nth-child(6)::after{
        top: calc((155px - 147px) / 2);
        width: 347px;
        height: 147px;
        background: url(../img/raster/partners/mdberry.png) center center no-repeat; 
        background-size: contain;
      }
      &:nth-child(7)::after{
        top: calc((155px - 87px) / 2);
        width: 249px;
        height: 87px;
        background: url(../img/raster/partners/thinfactory.png) center center no-repeat; 
        background-size: contain;
      }
      &:nth-child(8)::after{
        top: calc((155px - 71px) / 2);
        width: 338px;
        height: 71px;
        background: url(../img/raster/partners/trusted.png) center center no-repeat; 
        background-size: contain;
      }
    }
  }
  .slick-next,
  .slick-prev{
    @include font(16px, 700, #000, 20px);
    text-transform: uppercase;
    z-index: 10;
    text-align: left;
    height: 24px;
    &::before{
      content: '';
      top: 2px;
      position: absolute;
      width: 24px;
      height: 16px;
    }
  }
  .slick-prev{
    left: 200px;
    width: 121px;
    text-align: right;
    &::before{
      left: 0;
      background: url(../img/svg/icons/left-arrow-black.svg) center right no-repeat;
    }
  }
  .slick-next{
    right: 200px;
    width: 78px;
    &::before{
      right: 0;
      background: url(../img/svg/icons/right-arrow-black.svg) center right no-repeat;
    }
  }
}
.story {
  overflow: hidden;
  position: relative;
  background-color: $grey-bg;
  padding-top: 100px;
  padding-bottom: 100px;
  .points{
    position: absolute;
    top: 70px;
    right: -234px;
    z-index: 1;
  }
  &__inner {
    display: flex;
    margin-top: 70px;
  }

  &__description {
    background-color: #fff;
    padding-left: 200px;
    padding-top: 100px;
    padding-right: 30px;
    text-align: left;
    max-width: 847px;
    width: 100%;
    position: relative;
    overflow: hidden;
    & > .points{
      position: absolute;
      top: -105px;
      left: -314px;
    }
  }
  &__description-link{
    &::after{
      background-image: url(../img/svg/icons/right-arrow-black.svg);
    }
  }
  &__image {
    width: 69px;
    height: 66px;
    margin-bottom: 20px;
    fill: transparent;
    stroke: #000;
  }
  &__title {
    @include font(24px,500, #000,43px);
    @include width(462px);
    margin: 0;
    margin-bottom: 10px;
  }

  &__text {
    @include font(17px, 200, #000, 32px);
    margin-bottom: 30px;
  }
  &__link-wrapper{
    text-align: center;
    margin-top: 70px;
  }
  &__link {
    background-color: $blue;
  }

  &__slider {
    max-width: 387px;
    width: 100%;
  }

  &__slider-inner {
    display: flex !important;
    align-items: center;
    height: 615px;
  }

  &__numbers {
    max-width: 494px;
    width: 100%;
    padding-top: 100px;
    margin-left: 60px;
  }

  &__items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    width: 45%;
    margin-bottom: 30px;
    &:nth-child(2) .story__item-text{max-width: 150px;}
    &:nth-child(3) .story__item-text{max-width: 150px;}
  }

  &__item-number {
    @include font(96px, 300, #000, 116px);
    position: relative;
    z-index: 2;
  }
  &--aqua {
    color: $aqua;
  }
  &--pink {
    color: $pink;
  }
  &--purple {
    color: $purple;
  }
  &--orange {
    color: $orange;
  }
  &__item-text {
    @include font(14px, 300, #000, 25px);
    max-width: 227px;
    width: 100%;
  }
}
.faq {

  &__inner {
    @include flex(1043px);
  }

  &__accordion {
    width: 50%;
    position: relative;
    height: 888px;
    overflow: hidden;
  }
  .accordion {
    &__item {
      border-bottom: 1px solid #efefef;
      position: relative;
      padding-left: 200px;
      transition: all .2s linear;
      // background-color: #fff;
      z-index: 4;
      transform: translateY(0);
      overflow: hidden;
      &.active-wrap{
        background-color: #f4f4f4;
      }
      &:nth-child(2){
        z-index: 5;
        &.active-wrap{transform: translateY(-111px);}
      }
      &:nth-child(3){
        z-index: 6;
        &.active-wrap{transform: translateY(-222px);}
      }
      &:nth-child(4){
        z-index: 7;
        &.active-wrap{transform: translateY(-333px);}
      }
      &:nth-child(5){
        z-index: 8;
        &.active-wrap{transform: translateY(-444px);}
      }
      &:nth-child(6){
        z-index: 9;
        &.active-wrap{transform: translateY(-555px);}
      }
      &:nth-child(7){
        z-index: 10;
        &.active-wrap{transform: translateY(-666px);}
      }
      &:last-child{
        border-bottom: none;
        z-index: 11;
        &.active-wrap{transform: translateY(-777px);}
      }
    }
  
    &__title {
      padding: 39px 80px 39px 33px;
      @include font(18px, 200, #000, 32px);
      position: relative;
      &:hover{cursor: pointer;}
      &::before{
        position: absolute;
        content: '';
        display: block;
        top: 47px;
        left: 0;
        width: 14px;
        height: 14px;
        background: url(../img/svg/icons/cross.svg) center center no-repeat;
        background-size: cover;
      }
      &.active{font-weight: 400;}
      &.active::before{background: url(../img/svg/icons/minus.svg) center center no-repeat;}
    }
    &__info{
      // padding-bottom: 150px;
      min-height: 100%;
      height: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 33px;
    } 
     
    &__text {
      flex: 1 0 auto;
      @include font(18px, 200, #000, 32px);
      max-width: 625px;
      
    }
    &__rate-wrapper{
      margin-bottom: 150px;
      flex: 0 0 auto;
    }
    &__rate {
      @include font(18px, 400, #000, 32px);
    }
    &__image{
      width: 29px;
      height: 26px;
      fill: #fff;
      stroke: #000;
      transition: .4s;
      &:hover{
        fill: #000;
      }
    }
    &__y {
      margin-left: 20px;
      margin-right: 20px;      
    }
    &__item.active-wrap > .accordion__info{height: 777px;}
  }
  .faq-form {
    &__wrapper {
      width: 50%;
      background-color: $blue;
      min-height: 888px;
      padding-top: 50px;
      padding-left: 70px;
      text-align: left;
    }
  
    &__title {
      @include font(48px, 400, #fff, 58px);
      margin-bottom: 11px;
    }
  
    &__subtitle {
      @include font(18px, 200, #fff, 32px);
      margin-bottom: 50px;
    }
    &__check-wrapper{
      display: flex;
      margin-bottom: 50px;
    }
    &__check {
      position: relative;
      & + .faq-form__check{margin-left: 102px;}
      label{
        margin-left: 10px;
        padding-left: 28px;
        position: relative;
        @include font(18px, 200, #fff, 32px);
        &::before{
          position: absolute;
          content: '';
          display: block;
          top: 1px;
          left: 0;
          width: 18px;
          height: 18px;
          border: 2px solid #fff;
          border-radius: 4px;
        }
      }
      input{
        appearance: none;
        width: 0;
        height: 0;
        position: absolute;
        &:checked ~ label::before{
          background-color: #fff;
          background: url(../img/svg/icons/check.svg) center center no-repeat;
        }
      }
    }
  
    &__data {
      position: relative;
      margin-bottom: 75px;
      label{
        position: absolute;
        left: 0;
        bottom: 11px;
        @include font(18px, 200, #fff, 32px);
        z-index: 2;
        transition: .3s;
      }
      input{
        border: none;
        border-bottom: 1px solid rgba(#fff, .3);
        outline: none;
        width: 692px;
        padding-bottom: 11px;
        background: none;
        position: relative;
        z-index: 10;
      }
      input:focus ~ label{
        font-size: 14px;
        bottom: 35px;
      }
    }

    &__button{
      background-color: $pink;
      
    }
  }
}
.about {
  background-color: $grey-bg;
  overflow: hidden;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  @include font(24px, 200, #000, 43px);
  &__text{
    @include width(1024px);
    margin-bottom: 70px;
  }
  &__items {
    @include flex(195px);
    @include width(1462px);
    position: relative;
    z-index: 3;
    margin-bottom: 80px;
  }

  &__item {
    width: 30%;
    &:hover .about__item-text{color: $blue;}
  }

  &__item-inner {
    margin: 0 auto;
  }

  &__item-picture{
    margin: 0 auto;
    margin-bottom: 38px;
    min-height: 89px;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  &__item-text {
    padding-top: 25px;
    position: relative;
    transition: .4s;
    &::before{
      position: absolute;
      content: '';
      display: block;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 79px;
      height: 1px;
      background-color: #a4a4a4;
    }
  }
  &__link{
    margin-top: 80px;
  }
  .points {
    position: absolute;
    z-index: 1;
    &--blue{
      top: -215px;
      right: 105px;
    }
    &--pink{
      bottom: 240px;
      left: -177px;
    }
  }
}
.news {
  padding-top: 150px;
  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item-wrapper {
    min-height: 948px;
    max-width: 636px;
    width: 100%;
    text-align: left;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }
  &__item{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    &--purple{background-color: rgba($purple, .5);}
    &--blue{background-color: rgba($blue, .5);}
    &--pink{background-color: rgba($pink, .5);}
    &--lightgreen{background-color: rgba($lightgreen, .5);}
    .points{
      position: absolute;
    }
    &--purple .points{
      
    }
  }

  &__date-wrapper {
    display: flex;
  }

  &__date {
    margin-right: 65px;
    position: relative;
    @include font(24px, 500, #000, 43px);
    &::after{
      position: absolute;
      content: '';
      display: block;
      top: 0;
      right: -31;
      width: 2px;
      height: 24px;
      background-color: #000;
    }
  }

  &__title {
    @include font(48px, 400, #000, 58px);
    max-width: 640px;
    width: 100%;
  }

  &__description {
    @include font(18px, 200, #000, 32px);
    max-width: 588px;
    width: 100%;
  }

  &__tags {
    display: flex;
    @include font(24px, 500, #000, 43px);
  }

  &__tag {
    & + &{
      margin-left: 40px;
    }
  }

  &__hover {
  }

  &__item--static {
  }

  &__title--static {
  }

  &__hover--static {
  }
}





































@import 'components/media.scss';